@use '../dimensions.scss' as *;
.benefits {
    background-color: #F0F7FF;
    padding: 1rem;
    border: 1px solid #111;
    @include tablet {
        padding: 2rem;
    }
    @include desktop {
        max-width: 900px;
        margin: 0 auto;
    }

    &__heading {
        font-size: 1.8rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
    }


    &__description {
        margin-bottom: 1rem;
        @include desktop {
            margin-bottom: 1.5rem;
        }
    }

    &__reason {
        font-size: 1.4rem;
    }

    &__container {
        margin-bottom: 1rem;
        flex: 1;
        @include tablet {
            margin-bottom: 2rem;
            display: flex;
            gap: 2rem;
            justify-content: space-between;
        }
        @include desktop {
            display: block;
        }
        // width: 17rem;
    }

    &__container:last-of-type {
        margin-bottom: 0;
    }

    &__list {
        @include desktop {
            display: flex;
            gap: 3rem;
        }
    }

    &__icon {
        max-width: 100%;
        padding: 1rem;
        background-color: #f0f0f0;
        border: 1px solid #111;
        @include tablet {
            max-width: 10rem
        }
        @include desktop {
            padding: 2rem;
            max-width: none;
        }
    }
}