@use '../dimensions.scss' as *;
.quote {
    background-color: #F0F7FF;
    padding: 1rem;
    border: 1px solid #111;
    @include tablet {
        padding: 2rem;
    }
    @include desktop {
        padding: 2rem;
        max-width: 900px;
        margin: 0 auto;
    }

    &__heading {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        color: white;
        background-color: #d6251b;
        transition: 0.2s;
        font-weight: bold;
        border: none;
        text-decoration: none;
        @include tablet {
            max-width: 16rem;
        }
    }

    &__button:hover {
        background-color: #ff251b;
        color: #F0F7FF;
    }
}