@use '../dimensions.scss' as *;
.about {
    background-color: #F0F7FF;
    padding: 1rem;
    border: 1px solid #111;
    @include tablet {
        padding: 2rem;
    }
    @include desktop {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    &__heading {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        @include desktop {
            font-size: 2rem;
        }
    }

    &__description {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        line-height: 1.6rem;
        @include desktop {
            font-size: 1.3rem;
        }
    }

    &__image {
        width: 100%;
        border: 1px solid #111;
        margin-bottom: 1rem;
        padding: 4px;
        background-color: #333;
        @include tablet {
            margin-bottom: 2rem;
        }
    }

    &__image:last-of-type {
        @include tablet {
            margin-bottom: 0;
        }
       
    }
}