@use '../dimensions.scss' as *;
.about {
    margin-top: 1rem;
    background-color: #F0F7FF;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px #F0F7FF;
    @include desktop {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    &__heading {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        @include desktop {
            font-size: 2rem;
        }
    }

    &__description {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        line-height: 1.6rem;
        @include desktop {
            font-size: 1.3rem;
        }
    }

    &__image {
        width: 100%;
        border-radius: 4px;
    }
}