@use './dimensions.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela', sans-serif;
}

*::selection {
  background-color: #d6251b;
  color: white;
}


body {
 background-color: #222;
}

html {
  background-color: #111;
  scroll-behavior: smooth;
}
