@use '../dimensions.scss' as *;
.hero {
    padding: 1rem;
    @include desktop {
        background-image: url('../roof.jpeg');
        background-size: cover;
        margin-bottom: 2px solid black;
        box-shadow: 0 0 10px black;
    }
    @include tablet {
        padding: 0 2rem;
    }

        &__content{
            @include desktop {
                height: 100vh;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                padding: 0 1rem;
                max-width: 900px;
                @include tablet {
                padding: 0 2rem;
                margin: 0 auto;
            }
            
        }

    
    }
    
   
    
}

